server {
    listen 80;
    root /var/www/prod/website;
    index index.html index.htm;
    server_name gpit.com.br;
    access_log on;
    error_log /dev/null crit;
    if ($host != "gpit.com.br") {
       return 404;
    }
    location / {
    }
}

server {
    listen 80;
    root /var/www/dev/website;
    index index.html index.htm;
    server_name dev.gpit.com.br;
    access_log on;
    error_log /dev/null crit;
    if ($host != "dev.gpit.com.br") {
       return 404;
    }
    location / {
    }
}